
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#D0CDC2">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" type="text/css" href="https://calibridal.com.vn/wp-content/themes/calibridal/assets/css/aos.css">
    <link rel="stylesheet" href="https://calibridal.com.vn/wp-content/themes/calibridal/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://calibridal.com.vn/wp-content/themes/calibridal/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://calibridal.com.vn/wp-content/themes/calibridal/assets/css/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="https://calibridal.com.vn/wp-content/themes/calibridal/assets/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/vendor.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="../style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Marcellus&display=swap"
          rel="stylesheet">
    <link id="primaryStyle-asset-global-css"
          href="https://www.dior.com/on/demandware.static/Sites-dior_vn-Site/-/en_VN/v1748651438953/css/global.css"
          rel="stylesheet"
          type="text/css" />
    <link id="style-asset-coverSection-css"
          href="https://www.dior.com/on/demandware.static/Sites-dior_vn-Site/-/en_VN/v1748651438953/css/experience/coverSection.css"
          rel="stylesheet"
          type="text/css" />
    <script id="primaryScript-asset-main-js"
            src="https://www.dior.com/on/demandware.static/Sites-dior_vn-Site/-/en_VN/v1748651438953/js/main.js"
            defer></script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <!-- This site is optimized with the Yoast SEO Premium plugin v22.5 (Yoast SEO v22.5) - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Với mong muốn đem đến những trải nghiệm tốt nhất cho cô dâu chú rể, Cali Bridal đã liên tục nhập khẩu nhiều thiết kế váy cưới đẹp, ấn tượng" />
    <link rel="canonical" href="https://calibridal.com.vn/gioi-thieu/" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Giới Thiệu" />
    <meta property="og:description" content="Với mong muốn đem đến những trải nghiệm tốt nhất cho cô dâu chú rể, Cali Bridal đã liên tục nhập khẩu nhiều thiết kế váy cưới đẹp, ấn tượng" />
    <meta property="og:url" content="https://calibridal.com.vn/gioi-thieu/" />
    <meta property="og:site_name" content="Cali Bridal" />
    <meta property="article:publisher" content="https://www.facebook.com/calibridalHN/" />
    <meta property="article:modified_time" content="2024-12-13T03:40:00+00:00" />
    <meta property="og:image" content="https://calibridal.com.vn/wp-content/uploads/2021/09/cali-bridal-1.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Ước tính thời gian đọc" />
    <meta name="twitter:data1" content="10 phút" />
    <!-- / Yoast SEO Premium plugin. -->


    <style id='wp-emoji-styles-inline-css' type='text/css'>

        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='https://calibridal.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=6.6.2' media='all' />
    <style id='classic-theme-styles-inline-css' type='text/css'>
        /*! This file is auto-generated */
        .wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}
    </style>
    <style id='global-styles-inline-css' type='text/css'>
        :root{--wp--preset--aspect-ratio--square: 1;--wp--preset--aspect-ratio--4-3: 4/3;--wp--preset--aspect-ratio--3-4: 3/4;--wp--preset--aspect-ratio--3-2: 3/2;--wp--preset--aspect-ratio--2-3: 2/3;--wp--preset--aspect-ratio--16-9: 16/9;--wp--preset--aspect-ratio--9-16: 9/16;--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flex{display: flex;}.is-layout-flex{flex-wrap: wrap;align-items: center;}.is-layout-flex > :is(*, div){margin: 0;}body .is-layout-grid{display: grid;}.is-layout-grid > :is(*, div){margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
        :where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}
        :where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}
        :root :where(.wp-block-pullquote){font-size: 1.5em;line-height: 1.6;}
         .container {
                max-width: 90%;
              }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='https://calibridal.com.vn/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.7' media='all' />
    <script type="text/javascript" src="https://calibridal.com.vn/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="https://calibridal.com.vn/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
    <link rel="https://api.w.org/" href="https://calibridal.com.vn/wp-json/" />
    <link rel="alternate" title="JSON" type="application/json" href="https://calibridal.com.vn/wp-json/wp/v2/pages/7" />
    <link rel="alternate" title="oNhúng (JSON)" type="application/json+oembed" href="https://calibridal.com.vn/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fcalibridal.com.vn%2Fgioi-thieu%2F" />
    <link rel="alternate" title="oNhúng (XML)" type="text/xml+oembed" href="https://calibridal.com.vn/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fcalibridal.com.vn%2Fgioi-thieu%2F&#038;format=xml" />
    <meta name='dmca-site-verification' content='MHkzcDRFdFlSSmk0aThHM0VoMGMyZz090' />

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PPCRDFD');</script>
    <!-- End Google Tag Manager -->
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2865968670389891');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=2865968670389891&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0F7YDHGJNW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0F7YDHGJNW');
    </script>
    <link rel="icon" href="https://calibridal.com.vn/wp-content/uploads/2022/09/cropped-Gold_Foil_Logo_Mockup_on_Red_Paper_Card-copy-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="https://calibridal.com.vn/wp-content/uploads/2022/09/cropped-Gold_Foil_Logo_Mockup_on_Red_Paper_Card-copy-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://calibridal.com.vn/wp-content/uploads/2022/09/cropped-Gold_Foil_Logo_Mockup_on_Red_Paper_Card-copy-180x180.jpg" />
    <meta name="msapplication-TileImage" content="https://calibridal.com.vn/wp-content/uploads/2022/09/cropped-Gold_Foil_Logo_Mockup_on_Red_Paper_Card-copy-270x270.jpg" />
</head>
<body>
    <div class="main" style="margin-top: 80px;">
        <div class="aboutBanner">
            <img class="lazyload backg_banner" data-src="https://calibridal.com.vn/wp-content/uploads/2024/02/NHO_1189-Copy.jpg" alt="">
            <div class="container_frame">
                <div class="content_banner d-flex">
                    <div class="segTitle" data-aos="zoom-in">
                        Giới thiệu về
                    </div>
                    <div class="description" data-aos="zoom-in">
                        <div class="title" data-aos="zoom-in">DREAM LOVE</div>
                        <article data-aos="zoom-in">Với mong muốn đem đến những trải nghiệm tốt nhất cho cô dâu chú rể, Dream Love đã liên tục nhập khẩu nhiều thiết kế váy cưới đẹp, ấn tượng…. Đồng thời, đầu tư mạnh vào khâu nhân sự, chú ý đến việc nâng cao chất lượng dịch vụ để mỗi cô gái đến với Dream Love đều trở thành cô dâu xinh đẹp nhất.</article>
                    </div>
                </div>
                <div class="about_brand d-flex">
                    <div class="txt">
                        <div class="subTitle" data-aos="zoom-in">
                            Tự hào là <br>thương hiệu váy cưới <br> cao cấp nhất với...
                        </div>
                        <div class="segTitle" data-aos="zoom-in">
                            + 500 mẫu váy<br>+ 2.000 khách hàng
                        </div>
                    </div>
                    <div class="image" data-aos="zoom-in">
                        <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/02/NHO_1599-Copy.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutDream">
            <div class="content_dream">
                <div class="text_stroke" data-aos="zoom-in">Dream Love</div>
                <div class="row m-0">
                    <div class="col-md-4 p-0">
                        <div class="image1" data-aos="zoom-in">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/07/album-xoai-non-lou-hoang-17.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="content">
                            <div class="subTitle" data-aos="fade-up">Câu chuyện thương hiệu</div>
                            <div class="segTitle" data-aos="fade-up">Giấc mơ về những chiếc váy cưới...</div>
                            <article data-aos="fade-up">
                                <p>Những chiếc váy xa hoa, những chi tiết trang trí công phu và sự cá nhân hóa mà bạn sẽ không tìm thấy ở bất kỳ nơi nào khác. Trong 5 năm qua, Dream Love đã khẳng định mình là một trong những nhà thời trang cao cấp hàng đầu, với các sản phẩm nhập khẩu thiết kế được đặc trưng bởi chất liệu cao cấp, kỹ thuật may tỉ mỉ và tất nhiên, sự am hiểu về phong cách và xu hướng của các nàng dâu Việt Nam đã giúp chúng tôi có được những sản phẩm tốt nhất cho mỗi khách hàng. Những giá trị này đã được thấm nhuần trong nhà thời trang của chúng tôi trong nhiều thế hệ và dẫn đến sự nổi tiếng trên toàn Việt Nam của chúng tôi. Ngày nay, chúng tôi tự hào phục vụ hơn 2 nghìn cô dâu trên toàn Việt Nam và có thể tham gia vào những khoảnh khắc quan trọng nhất trong cuộc đời cho các cô dâu của chúng tôi, những người nổi tiếng, hotgirl và tất cả những người bị mê hoặc bởi nghệ thuật thiết kế của thời trang. Mục tiêu của chúng tôi là tiếp tục phát triển các hệ thống váy cưới thiết kế nhập khẩu của mình để nâng cao hơn nữa khả năng của chúng tôi và cung cấp các thiết kế của chúng tôi cho từng người phụ nữ xinh đẹp muốn mặc trang phục được tạo ra cho cô ấy và chỉ cô ấy.</p>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="image2" data-aos="zoom-in">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/11/catherine-dress-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutBlock">
            <img class="lazyload backblock" data-aos="fade-up" data-src="https://calibridal.com.vn/wp-content/uploads/2023/03/vay-cuoi-mau-hong-9-1.jpg" alt="">
            <div class="container_frame">
                <div class="title" data-aos="zoom-in">the most beautiful wedding dress models</div>
                <div class="text_stroke" data-aos="zoom-in">Dream Love</div>
            </div>
        </div>
        <div class="aboutQuote">
            <div class="container_frame">
                <div class="content_quote" data-aos="fade-up">
                    <svg width="193" height="168" viewBox="0 0 193 168" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.1" d="M68.7197 1.46082C26.3182 56.9739 93.5758 75.9652 93.5758 115.409C93.5758 149.009 70.1818 168 46.7879 168C23.3939 168 0 150.47 0 113.948C0 71.5826 39.4773 18.9913 67.2576 0L68.7197 1.46082ZM168.144 1.46082C125.742 56.9739 193 75.9652 193 115.409C193 149.009 169.606 168 146.212 168C122.818 168 99.4242 150.47 99.4242 113.948C99.4242 71.5826 138.901 18.9913 166.682 0L168.144 1.46082Z" fill="#7F6F4C" />
                    </svg>
                    <article data-aos="fade-up">Với mong muốn đem đến những trải nghiệm tốt nhất cho cô dâu chú rể, Dream Love đã liên tục nhập khẩu nhiều thiết kế váy cưới đẹp, ấn tượng…. Đồng thời, đầu tư mạnh vào khâu nhân sự, chú ý đến việc nâng cao chất lượng dịch vụ để mỗi cô gái đến với Dream Love đều trở thành cô dâu xinh đẹp nhất.</article>
                </div>
            </div>
        </div>
        <div class="aboutTeam">
            <div class="container_frame">
                <div class="item_team row">
                    <div class="col-md-5">
                        <div class="image" data-aos="fade-up">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/06/trang-bella.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="content_team">
                            <div class="description" data-aos="fade-up">“ Tôi cũng là một người phụ nữ, cũng đã trải qua cảm giác được mặc lên mình chiếc váy cưới lần đầu, cảm giác hồi hộp, lo sợ ánh mắt mọi người, nhưng tôi tự tin vì mình được khoắc lên chiếc váy cưới của thương hiệu Dream Love”</div>
                            <div class="info_team">
                                <div class="subTitle" data-aos="fade-up">Trang Bella</div>
                                <div class="segTitle" data-aos="fade-up">Trang Bella</div>
                                <article data-aos="fade-up">
                                    <p>Ngoài nhà thiết kế thời trang và nữ doanh nhân, Trang Bella là ai? Trang bella hiện là giám đốc và điều hành công ty TNHH Dream thuộc sở hữu của tập đoàn Mimosa Group. Trang Bella là một cô gái chân thực, nhiệt huyết và tràn đầy năng lượng. Trong khi cô ấy cực kỳ bộc trực, cô ấy có một sự đam mê và thực sự yêu nghề kinh doanh của mình. Nhưng làm thế nào chúng ta bắt đầu giải thích làm thế nào người phụ nữ nhỏ nhắn này thu thập năng lượng để điều hành thế giới? Có lẽ đó là do Trang Bella cảm thấy mình đã được “tái sinh” hai lần trong ba thập kỷ qua; lần đầu tiên ở tuổi 27, khi cô rời bỏ lĩnh vực giáo dục với tư cách là một giáo viên nghệ thuật &amp; thủ công để theo đuổi ước mơ xây dựng một hãng thời trang và lần thứ hai là cách đây một thập kỷ, khi cô tiến sâu vào thị trường kinh doanh và đạt 1000 khách hàng. Tuy nhiên, phong cách, thẩm mỹ không gì sánh kịp của Trang bella.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homeCollection collection_about">
            <div class="content_collection d-flex">
                <div class="description">
                    <div class="segTitle" data-aos="fade-up">Những người nổi tiếng</div>
                    <article data-aos="fade-up">Chiêm ngưỡng nhan sắc xinh đẹp ngọt ngào của các cô dâu nhà Dream Love</article>
                    <a data-aos="fade-up" href="" class="btn_primary">Chi tiết album</a>
                </div>
                <div class="right_collect" data-aos="fade-up">
                    <div class="list_collect list_humor">
                        <div class="item ">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/06/phim-truong-biet-thu-hoa-hong-142.jpg" alt="">
                            <div class="name">Á Hậu Phương Nga</div>
                        </div>
                        <div class="item ">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/11/catherine-dress-4.jpg" alt="">
                            <div class="name">Miss International 2024 - Thanh Thủy</div>
                        </div>
                        <div class="item ">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/07/album-xoai-non-lou-hoang-16.jpg" alt="">
                            <div class="name">Xoài Non</div>
                        </div>
                        <div class="item hide_collect">
                            <img class="lazyload" data-src="https://calibridal.com.vn/wp-content/uploads/2024/04/album-anh-cuoi-bien-quan-lan-29.jpg" alt="">
                            <div class="name">Á hậu 2 Miss Universe VN - Thúy Quỳnh</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="cta_page">
        <div class="item">
            <a target="_blank" href="">
                <img style="width: 20px;" src="/wp-content/uploads/2023/07/1532430.png" />
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="">
                <img style="width: 20px;" src="/wp-content/uploads/2023/07/icons9-zalo.svg" />
            </a>
        </div>

        <div class="item">
            <a href="tel:">
                <i class="fas fa-phone"></i>
            </a>
        </div>

    </div> -->
    <!-- Kit font -->
    <!-- <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/a1bedc14d0.js"></script> -->
    <!-- Lazyload -->

    <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/jquery.min.js"></script>
    <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/aos.js"></script>
    <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/bootstrap.min.js"></script>
    <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/jquery.fancybox.min.js"></script>
    <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/lazysizes.min.js"></script>
    <script type="text/javascript" src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/ls.unveilhooks.min.js"></script>
    <!-- custom -->
    <script src="https://calibridal.com.vn/wp-content/themes/calibridal/assets/js/custom.js"></script>
    <script type="text/javascript" id="contact-form-7-js-extra">
        /* <![CDATA[ */
        var wpcf7 = {"apiSettings":{"root":"https:\/\/calibridal.com.vn\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://calibridal.com.vn/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.7" id="contact-form-7-js"></script>
</body>
</html>
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1748515367 -->