<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="TemplatesJungle" />
    <meta name="keywords" content="ecommerce,fashion,store" />
    <meta name="description"
          content="Bootstrap 5 Fashion Store HTML CSS Template" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/css/vendor.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Marcellus&display=swap"
          rel="stylesheet" />
    <link id="primaryStyle-asset-global-css"
          href="https://www.dior.com/on/demandware.static/Sites-dior_vn-Site/-/en_VN/v1748651438953/css/global.css"
          rel="stylesheet"
          type="text/css" />
    <link id="style-asset-coverSection-css"
          href="https://www.dior.com/on/demandware.static/Sites-dior_vn-Site/-/en_VN/v1748651438953/css/experience/coverSection.css"
          rel="stylesheet"
          type="text/css" />
    <script id="primaryScript-asset-main-js"
            src="https://www.dior.com/on/demandware.static/Sites-dior_vn-Site/-/en_VN/v1748651438953/js/main.js"
            defer></script>
    <style>
        .swiper-slide img {
          width: 100%;
          height: 550px;
          object-fit: cover;
        }
        .container {
          max-width: 98%;
        }
        @@media (min-width: 920px) {
          .footer-menu.footer-menu-002 {
            margin-left: 60px;
          }
        }
    </style>
</head>

<body class="homepage">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <defs>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="instagram"
                    viewBox="0 0 15 15">
                <path fill="none"
                      stroke="currentColor"
                      d="M11 3.5h1M4.5.5h6a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4h-6a4 4 0 0 1-4-4v-6a4 4 0 0 1 4-4Zm3 10a3 3 0 1 1 0-6a3 3 0 0 1 0 6Z" />
            </symbol>
            <symbol width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    id="tiktok"
                    xmlns="http://www.w3.org/2000/svg">
                <path fill="none"
                      stroke="currentColor"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.5 14.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Z" />
                <path fill="none"
                      stroke="currentColor"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10 3c-.4 0-.9.2-1.3.6-.4.4-.6.9-.6 1.5v2.5a2.5 2.5 0 1 1-2.5-2.5h1v-1.5c0-.5.2-1 .6-1.3.4-.4.9-.6 1.5-.6h1v1.5h-1v1.5c0 .5.2 1 .6 1.3.4.4.9.6 1.5.6v-1.5c-.4 0-.9-.2-1.3-.6-.4-.4-.6-.9-.6-1.5V3h1V2h-1z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="facebook"
                    viewBox="0 0 15 15">
                <path fill="none"
                      stroke="currentColor"
                      d="M7.5 14.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Zm0 0v-8a2 2 0 0 1 2-2h.5m-5 4h5" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="twitter"
                    viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="m14.478 1.5l.5-.033a.5.5 0 0 0-.871-.301l.371.334Zm-.498 2.959a.5.5 0 1 0-1 0h1Zm-6.49.082h-.5h.5Zm0 .959h.5h-.5Zm-6.99 7V12a.5.5 0 0 0-.278.916L.5 12.5Zm.998-11l.469-.175a.5.5 0 0 0-.916-.048l.447.223Zm3.994 9l.354.353a.5.5 0 0 0-.195-.827l-.159.474Zm7.224-8.027l-.37.336l.18.199l.265-.04l-.075-.495Zm1.264-.94c.051.778.003 1.25-.123 1.606c-.122.345-.336.629-.723 1l.692.722c.438-.42.776-.832.974-1.388c.193-.546.232-1.178.177-2.006l-.998.066Zm0 3.654V4.46h-1v.728h1Zm-6.99-.646V5.5h1v-.959h-1Zm0 .959V6h1v-.5h-1ZM10.525 1a3.539 3.539 0 0 0-3.537 3.541h1A2.539 2.539 0 0 1 10.526 2V1Zm2.454 4.187C12.98 9.503 9.487 13 5.18 13v1c4.86 0 8.8-3.946 8.8-8.813h-1ZM1.03 1.675C1.574 3.127 3.614 6 7.49 6V5C4.174 5 2.421 2.54 1.966 1.325l-.937.35Zm.021-.398C.004 3.373-.157 5.407.604 7.139c.759 1.727 2.392 3.055 4.73 3.835l.317-.948c-2.155-.72-3.518-1.892-4.132-3.29c-.612-1.393-.523-3.11.427-5.013l-.895-.446Zm4.087 8.87C4.536 10.75 2.726 12 .5 12v1c2.566 0 4.617-1.416 5.346-2.147l-.708-.706Zm7.949-8.009A3.445 3.445 0 0 0 10.526 1v1c.721 0 1.37.311 1.82.809l.74-.671Zm-.296.83a3.513 3.513 0 0 0 2.06-1.134l-.744-.668a2.514 2.514 0 0 1-1.466.813l.15.989ZM.222 12.916C1.863 14.01 3.583 14 5.18 14v-1c-1.63 0-3.048-.011-4.402-.916l-.556.832Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="pinterest"
                    viewBox="0 0 15 15">
                <path fill="none"
                      stroke="currentColor"
                      d="m4.5 13.5l3-7m-3.236 3a2.989 2.989 0 0 1-.764-2V7A3.5 3.5 0 0 1 7 3.5h1A3.5 3.5 0 0 1 11.5 7v.5a3 3 0 0 1-3 3a2.081 2.081 0 0 1-1.974-1.423L6.5 9m1 5.5a7 7 0 1 1 0-14a7 7 0 0 1 0 14Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="youtube"
                    viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="m1.61 12.738l-.104.489l.105-.489Zm11.78 0l.104.489l-.105-.489Zm0-10.476l.104-.489l-.105.489Zm-11.78 0l.106.489l-.105-.489ZM6.5 5.5l.277-.416A.5.5 0 0 0 6 5.5h.5Zm0 4H6a.5.5 0 0 0 .777.416L6.5 9.5Zm3-2l.277.416a.5.5 0 0 0 0-.832L9.5 7.5ZM0 3.636v7.728h1V3.636H0Zm15 7.728V3.636h-1v7.728h1ZM1.506 13.227c3.951.847 8.037.847 11.988 0l-.21-.978a27.605 27.605 0 0 1-11.568 0l-.21.978ZM13.494 1.773a28.606 28.606 0 0 0-11.988 0l.21.978a27.607 27.607 0 0 1 11.568 0l.21-.978ZM15 3.636c0-.898-.628-1.675-1.506-1.863l-.21.978c.418.09.716.458.716.885h1Zm-1 7.728a.905.905 0 0 1-.716.885l.21.978A1.905 1.905 0 0 0 15 11.364h-1Zm-14 0c0 .898.628 1.675 1.506 1.863l.21-.978A.905.905 0 0 1 1 11.364H0Zm1-7.728c0-.427.298-.796.716-.885l-.21-.978A1.905 1.905 0 0 0 0 3.636h1ZM6 5.5v4h1v-4H6Zm.777 4.416l3-2l-.554-.832l-3 2l.554.832Zm3-2.832l-3-2l-.554.832l3 2l.554-.832Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="dribble"
                    viewBox="0 0 15 15">
                <path fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.839 1.024c3.346 4.041 5.096 7.922 5.704 12.782M.533 6.82c5.985-.138 9.402-1.083 11.97-4.216M2.7 12.594c3.221-4.902 7.171-5.65 11.755-4.293M14.5 7.5a7 7 0 1 0-14 0a7 7 0 0 0 14 0Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="calendar"
                    viewBox="0 0 24 24">
                <g fill="none"
                   stroke="currentColor"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   stroke-width="2">
                    <rect width="20" height="18" x="2" y="4" rx="4" />
                    <path d="M8 2v4m8-4v4M2 10h20" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="shopping-bag"
                    viewBox="0 0 24 24">
                <g fill="none"
                   stroke="currentColor"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   stroke-width="2">
                    <path d="M3.977 9.84A2 2 0 0 1 5.971 8h12.058a2 2 0 0 1 1.994 1.84l.803 10A2 2 0 0 1 18.833 22H5.167a2 2 0 0 1-1.993-2.16l.803-10Z" />
                    <path d="M16 11V6a4 4 0 0 0-4-4v0a4 4 0 0 0-4 4v5" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="gift"
                    viewBox="0 0 24 24">
                <g fill="none"
                   stroke="currentColor"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   stroke-width="2">
                    <rect width="18" height="14" x="3" y="8" rx="2" />
                    <path d="M12 5a3 3 0 1 0-3 3m6 0a3 3 0 1 0-3-3m0 0v17m9-7H3" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="arrow-cycle"
                    viewBox="0 0 24 24">
                <g fill="none"
                   stroke="currentColor"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   stroke-width="2">
                    <path d="M22 12c0 6-4.39 10-9.806 10C7.792 22 4.24 19.665 3 16m-1-4C2 6 6.39 2 11.806 2C16.209 2 19.76 4.335 21 8" />
                    <path d="m7 17l-4-1l-1 4M17 7l4 1l1-4" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="link"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="arrow-left"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M17 11H9.41l3.3-3.29a1 1 0 1 0-1.42-1.42l-5 5a1 1 0 0 0-.21.33a1 1 0 0 0 0 .76a1 1 0 0 0 .21.33l5 5a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42L9.41 13H17a1 1 0 0 0 0-2Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="arrow-right"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="play"
                    viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd">
                    <path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" />
                    <path fill="currentColor"
                          d="M5.669 4.76a1.469 1.469 0 0 1 2.04-1.177c1.062.454 3.442 1.533 6.462 3.276c3.021 1.744 5.146 3.267 6.069 3.958c.788.591.79 1.763.001 2.356c-.914.687-3.013 2.19-6.07 3.956c-3.06 1.766-5.412 2.832-6.464 3.28c-.906.387-1.92-.2-2.038-1.177c-.138-1.142-.396-3.735-.396-7.237c0-3.5.257-6.092.396-7.235Z" />
                </g>
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="category"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="calendar"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="heart"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="plus"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="minus"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="cart"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="check"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="trash"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="star-outline"
                    viewBox="0 0 15 15">
                <path fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="star-solid"
                    viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="search"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="user"
                    viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg"
                    id="close"
                    viewBox="0 0 15 15">
                <path fill="currentColor"
                      d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
            </symbol>
        </defs>
    </svg>

    <div class="preloader text-white fs-6 text-uppercase overflow-hidden"></div>

    <div class="search-popup">
        <div class="search-popup-container">
            <form role="search" method="get" class="form-group" action="">
                <input type="search"
                       id="search-form"
                       class="form-control border-0 border-bottom"
                       placeholder="Type and press enter"
                       value=""
                       name="s" />
                <button type="submit"
                        class="search-submit border-0 position-absolute bg-white"
                        style="top: 15px; right: 15px">
                    <svg class="search" width="24" height="24">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>

            <h5 class="cat-list-title">Browse Categories</h5>

            <ul class="cat-list">
                <li class="cat-list-item">
                    <a href="#" title="Jackets">Jackets</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="T-shirts">T-shirts</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Handbags">Handbags</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Accessories">Accessories</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Cosmetics">Cosmetics</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Dresses">Dresses</a>
                </li>
                <li class="cat-list-item">
                    <a href="#" title="Jumpsuits">Jumpsuits</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="offcanvas offcanvas-end"
         data-bs-scroll="true"
         tabindex="-1"
         id="offcanvasCart"
         aria-labelledby="My Cart">
        <div class="offcanvas-header justify-content-center">
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Growers cider</h6>
                            <small class="text-body-secondary">Brief description</small>
                        </div>
                        <span class="text-body-secondary">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Fresh grapes</h6>
                            <small class="text-body-secondary">Brief description</small>
                        </div>
                        <span class="text-body-secondary">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Heinz tomato ketchup</h6>
                            <small class="text-body-secondary">Brief description</small>
                        </div>
                        <span class="text-body-secondary">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>

                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    Continue to Checkout
                </button>
            </div>
        </div>
    </div>

    <div class="page js-page"
         style="margin-bottom: 10px"
         data-action="Home-Show"
         data-querystring="">
        <header class="r-header r-header--transparent-desktop r-header--transparent-mobile r-header--gradient js-header">
            <div class="r-header__top">
                <div class="r-header__action-buttons">
                    <button class="r-header__burger js-header-open-navigation"
                            type="button"
                            aria-label="Menu"
                            aria-haspopup="true"
                            aria-expanded="false"
                            aria-controls="r-navigation">
                        <i class="r-icon r-icon--Burger" inert aria-hidden='"true"'>
                            <svg id="Burger"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.7 8C5.3134 8 5 8.3134 5 8.7C5 9.0866 5.3134 9.4 5.7 9.4H18.3C18.6866 9.4 19 9.0866 19 8.7C19 8.3134 18.6866 8 18.3 8H5.7Z"
                                      fill="currentColor" />
                                <path d="M5.7 14.6C5.3134 14.6 5 14.9134 5 15.3C5 15.6866 5.3134 16 5.7 16H18.3C18.6866 16 19 15.6866 19 15.3C19 14.9134 18.6866 14.6 18.3 14.6H5.7Z"
                                      fill="currentColor" />
                            </svg>
                        </i>
                    </button>

                    <button class="r-header__search-toggle r-header__search-toggle--mobile global-search-toggle-mobile search-toggle js-search-toggle js-global-search-toggle-mobile"
                            type="button"
                            aria-label="Search">
                        <i class="r-icon r-icon--Search" inert aria-hidden='"true"'>
                            <svg id="Search"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M5.70005 11C5.70005 8.07288 8.07294 5.69999 11 5.69999C13.9272 5.69999 16.3 8.07288 16.3 11C16.3 13.9271 13.9272 16.3 11 16.3C8.07294 16.3 5.70005 13.9271 5.70005 11ZM11 4.29999C7.29974 4.29999 4.30005 7.29968 4.30005 11C4.30005 14.7003 7.29974 17.7 11 17.7C12.5981 17.7 14.0654 17.1405 15.2169 16.2068L17.5051 18.495C17.7785 18.7683 18.2217 18.7683 18.4951 18.495C18.7684 18.2216 18.7684 17.7784 18.4951 17.505L16.2069 15.2168C17.1406 14.0653 17.7 12.598 17.7 11C17.7 7.29968 14.7004 4.29999 11 4.29999Z"
                                      fill="currentColor" />
                            </svg>
                        </i>
                    </button>
                </div>

                <a class="r-header__logo js-header-logo" href="/Homepage">
                    <svg width="112"
                         height="45"
                         viewBox="0 0 112 45"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="#111">
                        <path d="M2.51367 34.9297C2.58398 34.6836 2.64844 34.3789 2.70703 34.0156C2.77734 33.6523 2.83594 33.2012 2.88281 32.6621C2.92969 32.123 2.96484 31.4844 2.98828 30.7461C3.01172 29.9961 3.02344 29.123 3.02344 28.127V16.6836C3.02344 15.6875 3.01172 14.8203 2.98828 14.082C2.96484 13.332 2.92969 12.6875 2.88281 12.1484C2.83594 11.5977 2.77734 11.1406 2.70703 10.7773C2.64844 10.4141 2.58398 10.1094 2.51367 9.86328V9.79297H6.73242V9.86328C6.66211 10.1094 6.5918 10.4141 6.52148 10.7773C6.46289 11.1406 6.41016 11.5977 6.36328 12.1484C6.32812 12.6875 6.29297 13.332 6.25781 14.082C6.23438 14.8203 6.22266 15.6875 6.22266 16.6836V20.6035L16.4883 12.2188C17.6367 11.2813 18.2109 10.4727 18.2109 9.79297H23.1504V9.86328C22.459 10.0273 21.7559 10.3437 21.041 10.8125C20.3379 11.2695 19.5879 11.832 18.791 12.5L9.7207 20.0938L20.6367 32.082C21.0938 32.5508 21.4805 32.9434 21.7969 33.2598C22.125 33.5645 22.4121 33.8223 22.6582 34.0332C22.9043 34.2324 23.127 34.4023 23.3262 34.543C23.5371 34.6719 23.7539 34.8008 23.9766 34.9297V35H18.8262C18.7793 34.8945 18.6973 34.7598 18.5801 34.5957C18.4746 34.4316 18.3457 34.2617 18.1934 34.0859C18.0527 33.9102 17.8945 33.7285 17.7188 33.541C17.5547 33.3535 17.3965 33.1777 17.2441 33.0137L6.22266 20.9199V28.127C6.22266 29.123 6.23438 29.9961 6.25781 30.7461C6.29297 31.4844 6.32812 32.123 6.36328 32.6621C6.41016 33.2012 6.46289 33.6523 6.52148 34.0156C6.5918 34.3789 6.66211 34.6836 6.73242 34.9297V35H2.51367V34.9297ZM45.3846 35V34.9297C45.408 34.8711 45.4256 34.7832 45.4373 34.666C45.4491 34.5488 45.4549 34.4434 45.4549 34.3496C45.4549 33.9863 45.4022 33.5879 45.2967 33.1543C45.203 32.709 45.0155 32.1582 44.7342 31.502L42.6073 26.7207C41.951 26.6973 41.078 26.6855 39.9881 26.6855C38.8983 26.6855 37.7205 26.6855 36.4549 26.6855C35.5291 26.6855 34.6327 26.6855 33.7655 26.6855C32.91 26.6855 32.1366 26.6973 31.4452 26.7207L29.4237 31.3613C29.2479 31.7949 29.0604 32.2695 28.8612 32.7852C28.662 33.3008 28.5623 33.8223 28.5623 34.3496C28.5623 34.502 28.5741 34.6309 28.5975 34.7363C28.6209 34.8301 28.6444 34.8945 28.6678 34.9297V35H25.0819V34.9297C25.2928 34.707 25.5565 34.3145 25.8729 33.752C26.1893 33.1777 26.535 32.4629 26.91 31.6074L36.9823 9.26562H38.3885L47.9334 30.7461C48.1561 31.25 48.3846 31.7422 48.619 32.2227C48.8651 32.6914 49.0936 33.1133 49.3045 33.4883C49.5155 33.8633 49.703 34.1797 49.867 34.4375C50.0311 34.6953 50.1424 34.8594 50.201 34.9297V35H45.3846ZM33.994 25.1738C34.6737 25.1738 35.3709 25.1738 36.0858 25.1738C36.8006 25.1621 37.4979 25.1562 38.1776 25.1562C38.869 25.1445 39.5311 25.1387 40.1639 25.1387C40.7967 25.127 41.3709 25.1152 41.8866 25.1035L36.9471 13.9414L32.0955 25.1738H33.994ZM54.6989 34.9297C54.7692 34.6836 54.8337 34.3789 54.8923 34.0156C54.9509 33.6523 55.0036 33.2012 55.0505 32.6621C55.0973 32.123 55.1325 31.4844 55.1559 30.7461C55.1794 29.9961 55.1911 29.123 55.1911 28.127V16.6836C55.1911 15.6875 55.1794 14.8203 55.1559 14.082C55.1325 13.332 55.0973 12.6875 55.0505 12.1484C55.0036 11.5977 54.9509 11.1406 54.8923 10.7773C54.8337 10.4141 54.7692 10.1094 54.6989 9.86328V9.79297H58.9001V9.86328C58.8298 10.1094 58.7595 10.4141 58.6891 10.7773C58.6305 11.1406 58.5778 11.5977 58.5309 12.1484C58.4958 12.6875 58.4606 13.332 58.4255 14.082C58.402 14.8203 58.3903 15.6875 58.3903 16.6836V28.127C58.3903 29.123 58.402 29.9961 58.4255 30.7461C58.4606 31.4844 58.4958 32.123 58.5309 32.6621C58.5778 33.2012 58.6305 33.6523 58.6891 34.0156C58.7595 34.3789 58.8298 34.6836 58.9001 34.9297V35H54.6989V34.9297ZM69.9722 28.127C69.9722 29.123 69.9839 29.9961 70.0073 30.7461C70.0425 31.4844 70.0777 32.123 70.1128 32.6621C70.1597 33.2012 70.2124 33.6523 70.271 34.0156C70.3413 34.3789 70.4116 34.6836 70.482 34.9297V35H66.2632V34.9297C66.3335 34.6836 66.398 34.3789 66.4566 34.0156C66.5269 33.6523 66.5796 33.2012 66.6148 32.6621C66.6616 32.123 66.6968 31.4844 66.7202 30.7461C66.7554 30.0078 66.773 29.1348 66.773 28.127V16.6836C66.773 15.6875 66.7554 14.8203 66.7202 14.082C66.6968 13.332 66.6616 12.6875 66.6148 12.1484C66.5796 11.6094 66.5269 11.1582 66.4566 10.7949C66.398 10.4199 66.3335 10.1094 66.2632 9.86328V9.79297L67.0015 9.86328C67.2241 9.88672 67.4702 9.9043 67.7398 9.91602C68.021 9.91602 68.3081 9.91602 68.6011 9.91602C69.0581 9.91602 69.6734 9.86328 70.4468 9.75781C71.232 9.64062 72.228 9.58203 73.4351 9.58203C74.5601 9.58203 75.5972 9.73438 76.5464 10.0391C77.5073 10.3437 78.3394 10.7891 79.0425 11.375C79.7456 11.9609 80.2905 12.6816 80.6773 13.5371C81.0757 14.3809 81.2749 15.3418 81.2749 16.4199C81.2749 17.2637 81.1636 18.0488 80.9409 18.7754C80.73 19.4902 80.4253 20.1406 80.0269 20.7266C79.6402 21.3125 79.1714 21.834 78.6206 22.291C78.0698 22.7363 77.4546 23.1113 76.7749 23.416L82.9448 32.082C83.2495 32.5156 83.5308 32.8906 83.7886 33.207C84.0581 33.5234 84.3101 33.7988 84.5445 34.0332C84.7905 34.2559 85.0249 34.4434 85.2476 34.5957C85.4702 34.7363 85.6987 34.8477 85.9331 34.9297V35H80.853C80.8179 34.7773 80.7007 34.4844 80.5015 34.1211C80.314 33.7461 80.0913 33.377 79.8335 33.0137L73.6109 24.2422C73.3413 24.2656 73.0718 24.2891 72.8023 24.3125C72.5327 24.3242 72.2573 24.3301 71.9761 24.3301C71.648 24.3301 71.314 24.3184 70.9741 24.2949C70.646 24.2715 70.312 24.2305 69.9722 24.1719V28.127ZM69.9722 22.8008C70.2886 22.8711 70.6109 22.9238 70.939 22.959C71.2671 22.9824 71.5835 22.9941 71.8882 22.9941C72.7671 22.9941 73.5698 22.8652 74.2964 22.6074C75.023 22.3379 75.6382 21.9336 76.1421 21.3945C76.6577 20.8555 77.0562 20.1875 77.3374 19.3906C77.6187 18.582 77.7593 17.6387 77.7593 16.5605C77.7593 15.6816 77.6597 14.8848 77.4605 14.1699C77.2612 13.4551 76.9624 12.8516 76.564 12.3594C76.1773 11.8555 75.6851 11.4687 75.0874 11.1992C74.4898 10.918 73.7925 10.7773 72.9956 10.7773C72.187 10.7773 71.5425 10.8184 71.062 10.9004C70.5816 10.9824 70.2183 11.0703 69.9722 11.1641V22.8008ZM107.13 35V34.9297C107.154 34.8711 107.171 34.7832 107.183 34.666C107.195 34.5488 107.201 34.4434 107.201 34.3496C107.201 33.9863 107.148 33.5879 107.042 33.1543C106.949 32.709 106.761 32.1582 106.48 31.502L104.353 26.7207C103.697 26.6973 102.824 26.6855 101.734 26.6855C100.644 26.6855 99.4662 26.6855 98.2005 26.6855C97.2748 26.6855 96.3783 26.6855 95.5111 26.6855C94.6556 26.6855 93.8822 26.6973 93.1908 26.7207L91.1693 31.3613C90.9935 31.7949 90.806 32.2695 90.6068 32.7852C90.4076 33.3008 90.308 33.8223 90.308 34.3496C90.308 34.502 90.3197 34.6309 90.3431 34.7363C90.3666 34.8301 90.39 34.8945 90.4134 34.9297V35H86.8275V34.9297C87.0384 34.707 87.3021 34.3145 87.6185 33.752C87.9349 33.1777 88.2806 32.4629 88.6556 31.6074L98.7279 9.26562H100.134L109.679 30.7461C109.902 31.25 110.13 31.7422 110.365 32.2227C110.611 32.6914 110.839 33.1133 111.05 33.4883C111.261 33.8633 111.449 34.1797 111.613 34.4375C111.777 34.6953 111.888 34.8594 111.947 34.9297V35H107.13ZM95.7396 25.1738C96.4193 25.1738 97.1166 25.1738 97.8314 25.1738C98.5462 25.1621 99.2435 25.1562 99.9232 25.1562C100.615 25.1445 101.277 25.1387 101.91 25.1387C102.542 25.127 103.117 25.1152 103.632 25.1035L98.6927 13.9414L93.8412 25.1738H95.7396Z" />
                    </svg>
                </a>
                <div class="r-header__action-buttons">
                    <div class="r-header__search-toggle r-header__search-toggle--desktop header__search js-transparent-header-hover">
                        <div class="site-search">
                            <form id="search-form"
                                  class="search-form"
                                  role="search"
                                  action="/en_vn/beauty/search"
                                  method="GET"
                                  name="simpleSearch"
                                  novalidate
                                  data-gtm-event="search">
                                <input id="search-input"
                                       class="form-control search-field u-text-bodycopy"
                                       type="text"
                                       name="q"
                                       value=""
                                       placeholder="Tìm kiếm sản phẩm"
                                       aria-owns="search-results"
                                       aria-expanded="false"
                                       aria-autocomplete="list"
                                       autocomplete="off"
                                       maxlength="200" />
                                <label for="search-input" class="sr-only">
                                    Enter Keyword or Item No.
                                </label>
                                <span class="search-bottom-border"></span>

                                <button type="reset"
                                        name="reset-button"
                                        class="fa fa-times reset-button js-reset-button"
                                        aria-label="Close the search bar">
                                    <i class="r-icon r-icon--Cross" inert aria-hidden='"true"'>
                                        <svg id="Cross"
                                             width="24"
                                             height="24"
                                             viewBox="0 0 24 24"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  clip-rule="evenodd"
                                                  d="M8.19497 7.20503C7.92161 6.93166 7.47839 6.93166 7.20503 7.20503C6.93166 7.47839 6.93166 7.92161 7.20503 8.19497L11.1649 12.1548L7.20511 16.1146C6.93174 16.388 6.93174 16.8312 7.20511 17.1046C7.47847 17.378 7.92169 17.378 8.19506 17.1046L12.1548 13.1448L16.1146 17.1045C16.3879 17.3779 16.8312 17.3779 17.1045 17.1045C17.3779 16.8312 17.3779 16.3879 17.1045 16.1146L13.1448 12.1548L17.1046 8.19505C17.378 7.92168 17.378 7.47846 17.1046 7.2051C16.8312 6.93173 16.388 6.93173 16.1147 7.2051L12.1548 11.1649L8.19497 7.20503Z" />
                                        </svg>
                                    </i>
                                </button>

                                <button type="button"
                                        name="search-button"
                                        class="fa fa-search d-none d-md-block js-search-button"
                                        aria-label="Open the search bar">
                                    <i class="r-icon r-icon--Search" inert aria-hidden='"true"'>
                                        <svg width="24" height="24" viewBox="0 0 24 24">
                                            <use xlink:href="#Search"></use>
                                        </svg>
                                    </i>
                                </button>
                                <input type="hidden" value="en_VN" name="lang" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header__search-block">
                <div class="mobile-search-wrapper"></div>
            </div>

            <div class="r-header__suggestions">
                <div class="suggestions-wrapper position-relative"
                     role="dialog"
                     data-url="/on/demandware.store/Sites-dior_vn-Site/en_VN/SearchServices-GetSuggestions?q="
                     aria-label="Search">
                    <div class="suggestions container-fluid suggestions--recommendations js-searchbar-recommendations">
                        <div class="js-product-recommendations-main"></div>
                        <div class="js-product-recommendations-fallback">
                            <div class="d-flex justify-content-between">
                                <h2 class="suggestions-label">Bạn cũng có thể thích</h2>
                            </div>
                            <div class="suggestions__list">
                                <ul class="m-0">
                                    <li class="option" id="Sauvage Elixir">
                                        <a class="js-product-search-suggestion"
                                           href="/en_vn/beauty/products/sauvage-elixir-Y0996460.html"
                                           data-gtm-suggestion-name="Sauvage Elixir">
                                            <div class="search-suggestion">
                                                <div>
                                                    <img class="lazy"
                                                         alt="Sauvage Elixir"
                                                         data-srcset="https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwf9da8cc3/Y0996460/Y0996460_C099600755_E01_GHC.jpg?sw=80&amp;sh=80 1x, https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwf9da8cc3/Y0996460/Y0996460_C099600755_E01_GHC.jpg?sw=160&amp;sh=160 2x" />
                                                </div>
                                                <div>
                                                    <div class="name">Sauvage Elixir</div>

                                                    <div class="short-description">
                                                        Elixir - Spicy, Fresh and Woody Notes
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="option" id="Miss Dior Eau de Parfum">
                                        <a class="js-product-search-suggestion"
                                           href="/en_vn/beauty/products/miss-dior-eau-de-parfum-Y0996347.html"
                                           data-gtm-suggestion-name="Miss Dior Eau de Parfum">
                                            <div class="search-suggestion">
                                                <div>
                                                    <img class="lazy"
                                                         alt="Miss Dior Eau de Parfum"
                                                         data-srcset="https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwb05859c9/Y0996347/Y0996347_C099600763_E01_GHC.jpg?sw=80&amp;sh=80 1x, https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwb05859c9/Y0996347/Y0996347_C099600763_E01_GHC.jpg?sw=160&amp;sh=160 2x" />
                                                </div>
                                                <div>
                                                    <div class="name">Miss Dior Eau de Parfum</div>

                                                    <div class="short-description">
                                                        Eau de Parfum - Velvety and Sensual Notes
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="option" id="Gris Dior">
                                        <a class="js-product-search-suggestion"
                                           href="/en_vn/beauty/products/gris-dior-Y0840550.html"
                                           data-gtm-suggestion-name="Gris Dior">
                                            <div class="search-suggestion">
                                                <div>
                                                    <img class="lazy"
                                                         alt="Gris Dior"
                                                         data-srcset="https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwc8bbbbc2/Y0840550/Y0840550_F084055009_E01_GHC.jpg?sw=80&amp;sh=80 1x, https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwc8bbbbc2/Y0840550/Y0840550_F084055009_E01_GHC.jpg?sw=160&amp;sh=160 2x" />
                                                </div>
                                                <div>
                                                    <div class="name">Gris Dior</div>

                                                    <div class="short-description">
                                                        Unisex Eau de Parfum - Chypre Notes
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="option" id="Rouge Dior">
                                        <a class="js-product-search-suggestion"
                                           href="/en_vn/beauty/products/rouge-dior-Y0356009.html"
                                           data-gtm-suggestion-name="Rouge Dior">
                                            <div class="search-suggestion">
                                                <div>
                                                    <img class="lazy"
                                                         alt="Rouge Dior"
                                                         data-srcset="https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwf586a2b6/Y0356009/Y0356009_C035600999_E01_GHC.jpg?sw=80&amp;sh=80 1x, https://www.dior.com/dw/image/v2/BGXS_PRD/on/demandware.static/-/Sites-master_dior/default/dwf586a2b6/Y0356009/Y0356009_C035600999_E01_GHC.jpg?sw=160&amp;sh=160 2x" />
                                                </div>
                                                <div>
                                                    <div class="name">Rouge Dior</div>

                                                    <div class="short-description">
                                                        Couture Color Lipstick - Velvet, Satin and New
                                                        Veil Finishes - Hydrating Floral Lip Care - Long
                                                        Wear
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="searchbar-content-wrapper js-content-recommendations u-margin-top--xl"></div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="r-navigation">
            <dialog id="dialog-navigation"
                    class="r-dialog r-dialog--dialog-navigation r-dialog--light js-dialog js-dialog-navigation"
                    data-theme="light"
                    data-open="false"
                    data-position="start"
                    data-size="full-height"
                    data-desktop-position="start"
                    data-desktop-size="full-height">
                <div class="r-dialog__overlay r-dialog__overlay--start r-dialog__overlay--start-desktop"
                     data-close-dialog="dialog-navigation">
                    <div class="r-dialog__content r-dialog__content--dialog-navigation r-dialog__content--full-height r-dialog__content--full-height-desktop js-dialog-content">
                        <div class="r-dialog__header">
                            <button type="button"
                                    class="r-dialog__close-button js-dialog-close-button"
                                    title="Close dialog"
                                    aria-label="Close dialog"
                                    data-close-dialog="dialog-navigation"
                                    autofocus>
                                <i class="r-icon r-icon--Close r-icon--full-height"
                                   inert
                                   aria-hidden='"true"'>
                                    <svg id="Close"
                                         class="r-icon-close"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path class="r-icon-close__path r-icon-close__path--top"
                                              fill-rule="evenodd"
                                              clip-rule="evenodd"
                                              d="M6.55528 17.4447C6.28186 17.1714 6.28183 16.7282 6.55519 16.4549L16.4547 6.55535C16.7281 6.28198 17.1713 6.28198 17.4447 6.55528C17.7182 6.82857 17.7182 7.27179 17.4448 7.54516L7.54531 17.4446C7.27194 17.718 6.8287 17.718 6.55528 17.4447Z" />
                                        <path class="r-icon-close__path r-icon-close__path--bottom"
                                              fill-rule="evenodd"
                                              clip-rule="evenodd"
                                              d="M6.49506 6.49487C6.76848 6.22155 7.21173 6.2216 7.4851 6.49496L17.3846 16.3945C17.658 16.6678 17.658 17.111 17.3845 17.3843C17.1111 17.6576 16.6679 17.6576 16.3945 17.3843L6.49498 7.48474C6.22161 7.21137 6.22165 6.7682 6.49506 6.49487Z" />
                                    </svg>
                                </i>
                            </button>
                        </div>

                        <div class="r-dialog__template">
                            <div class="r-navigation-columns js-navigation-columns"
                                 data-current-level="0">
                                <div class="r-navigation-column r-navigation-column--1 js-navigation-column-1"
                                     inert>
                                    <div class="r-navigation__level js-navigation-level js-navigation-level-1"
                                         data-level="1"
                                         inert>
                                        <div class="r-navigation__maisons">
                                            <div class="r-navigation__content js-navigation-content"
                                                 data-id="PCD"
                                                 data-default-name="Fragrance &amp; Beauty"
                                                 id="navigation-tabpanel-PCD"
                                                 role="tabpanel"
                                                 aria-labelledby="navigation-tab-PCD">
                                                <ul class="r-navigation-link__wrapper">
                                                    <li>
                                                        <a href="/AbourUs"
                                                           class="r-navigation-link js-gtm-nav-item">
                                                            Giới thiệu
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/ListDress"
                                                           class="r-navigation-link js-gtm-nav-item">
                                                            Váy cưới
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/ListDress"
                                                           class="r-navigation-link js-gtm-nav-item">
                                                            Váy dự tiệc
                                                        </a>
                                                    </li>
                                                    <li>
                                                        < <a href="/ListDress"
                                                           class="r-navigation-link js-gtm-nav-item">
                                                            Áo dài
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/ListDress"
                                                           class="r-navigation-link js-gtm-nav-item">
                                                            Phụ kiện
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Contact"
                                                           class="r-navigation-link js-gtm-nav-item">
                                                            Liên hệ
                                                        </a>
                                                    </li>
                                                </ul>
                                                <hr data-animation-type="fadein-navigation" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </dialog>
        </nav>
    </div>

    <section id="billboard" class="bg-light py-5" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
        <div class="container">
            <div class="row">
                <div class="swiper main-swiper py-4"
                     data-aos="fade-up"
                     data-aos-delay="600">
                    <div class="swiper-wrapper d-flex border-animation-left">
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="#">
                                        <img src="../Image/noibat1.jpg"
                                             alt="product"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="/DressDetail" class="item-anchor">Váy cưới dáng A tay dài ren cổ V</a>
                                    </h5>
                                    <p>
                                        Thiết kế thanh lịch, nhẹ nhàng với phần tay dài xuyên thấu
                                        bằng ren. Cổ V sâu giúp tôn dáng và tạo nét quyến rũ tinh
                                        tế.
                                    </p>
                                    <div class="btn-left">
                                        <a href="/DressDetail"
                                           class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="#">
                                        <img src="../Image/noibat2.jpg"
                                             alt="product"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="/DressDetail" class="item-anchor">Váy cưới cổ cao tay dài ren hoa vintage</a>
                                    </h5>
                                    <p>
                                        Mẫu váy mang phong cách cổ điển, thanh lịch với thiết kế
                                        cổ cao, tay dài ren phủ toàn thân.
                                    </p>
                                    <div class="btn-left">
                                        <a href="/DressDetail"
                                           class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="/DressDetail">
                                        <img src="../Image/noibat3.jpg"
                                             alt="product"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="/DressDetail" class="item-anchor">Váy cưới ngắn cúp ngực dáng công chúa</a>
                                    </h5>
                                    <p>
                                        Váy cưới dáng ngắn xòe bồng, phối hoa 3D và corset tôn
                                        dáng, mang vẻ trẻ trung và đáng yêu.
                                    </p>
                                    <div class="btn-left">
                                        <a href="/DressDetail"
                                           class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="/DressDetail">
                                        <img src="../Image/noibat4.jpg"
                                             alt="product"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="/DressDetail" class="item-anchor">Váy cưới đuôi cá</a>
                                    </h5>
                                    <p>
                                        Váy cưới đuôi cá ôm sát với thân ren xuyên thấu và tay dài
                                        nơ lớn, toát lên vẻ sang trọng và gợi cảm.
                                    </p>
                                    <div class="btn-left">
                                        <a href="/DressDetail"
                                           class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="/DressDetail">
                                        <img src="../Image/noibat5.jpg"
                                             alt="product"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="/DressDetail" class="item-anchor">Váy cưới công chúa tay phồng</a>
                                    </h5>
                                    <p>
                                        Váy cưới dáng công chúa với tay phồng voan nhẹ, chân váy
                                        xòe rộng thêu hoa nổi tinh tế, đẹp lãng mạn và thanh lịch.
                                    </p>
                                    <div class="btn-left">
                                        <a href="/DressDetail"
                                           class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="/DressDetail">
                                        <img src="../Image/noibat3.jpg"
                                             alt="product"
                                             class="img-fluid" />
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="/DressDetail" class="item-anchor">Váy cưới ngắn cúp ngực dáng công chúa</a>
                                    </h5>
                                    <p>
                                        Váy cưới dáng ngắn xòe bồng, phối hoa 3D và corset tôn
                                        dáng, mang vẻ trẻ trung và đáng yêu.
                                    </p>
                                    <div class="btn-left">
                                        <a href="/DressDetail"
                                           class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="icon-arrow icon-arrow-left">
                    <svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
                <div class="icon-arrow icon-arrow-right">
                    <svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="features py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center"
                     data-aos="fade-in"
                     data-aos-delay="0">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#calendar"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Đặt lịch hẹn</h4>
                        <p>
                            Đặt lịch thử váy cưới để tìm kiểu dáng hoàn hảo tôn lên vẻ đẹp
                            của bạn.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 text-center"
                     data-aos="fade-in"
                     data-aos-delay="300">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#shopping-bag"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">
                            Nhận tại cửa hàng
                        </h4>
                        <p>
                            Nhận váy cưới tại cửa hàng với dịch vụ chăm sóc tận tình, chu
                            đáo.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 text-center"
                     data-aos="fade-in"
                     data-aos-delay="600">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#gift"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">
                            Đóng gói đặc biệt
                        </h4>
                        <p>
                            Váy cưới được đóng gói tinh tế, đảm bảo vẻ đẹp hoàn hảo cho ngày
                            trọng đại.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 text-center"
                     data-aos="fade-in"
                     data-aos-delay="900">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#arrow-cycle"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">
                            Đổi trả miễn phí
                        </h4>
                        <p>
                            Dịch vụ đổi trả toàn cầu miễn phí, giúp bạn yên tâm chọn váy
                            cưới lý tưởng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="categories overflow-hidden">
        <div class="container">
            <div class="open-up" data-aos="zoom-out">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cat-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img style="
                        width: 100%;
                        height: 600px;
                        object-fit: cover;
                        display: block;
                      "
                                         src="../Image/topic1.jpg"
                                         alt="categories"
                                         class="product-image img-fluid noibat" />
                                </a>
                            </div>
                            <div class="category-content">
                                <div class="product-button">
                                    <a href="/DressDetail"
                                       class="btn btn-common text-uppercase">Dành cho nữ giới</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cat-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img style="
                        width: 100%;
                        height: 600px;
                        object-fit: cover;
                        display: block;
                      "
                                         src="https://bizweb.dktcdn.net/100/448/191/articles/z5244924402043-10c8e070c4f55a373b2613e31702e526.jpg?v=1710316180493"
                                         alt="categories"
                                         class="product-image img-fluid noibat" />
                                </a>
                            </div>
                            <div class="category-content">
                                <div class="product-button">
                                    <a href="/DressDetail"
                                       class="btn btn-common text-uppercase">Dành cho phụ kiện</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="new-arrival"
             class="new-arrival product-carousel py-5 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Sản phẩm mới</h4>
                <a href="/ListDress" class="btn-link">Xem thêm</a>
            </div>
            <div class="swiper product-swiper open-up" data-aos="zoom-out">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="/DressDetail">
                                    <img src="../Image/mathangmoi1.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Eternal Rose</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="/DressDetail">
                                    <img src="../Image/mathangmoi2.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Radiant Blossom</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="/DressDetail">
                                    <img src="../Image/mathangmoi3.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Ivory Moon</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="/DressDetail">
                                    <img src="../Image/mathangmoi4.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">White Love Song</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="/DressDetail">
                                    <img src="../Image/mathangmoi5.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Ice Queen</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="/DressDetail">
                                    <img src="../Image/mathangmoi6.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Angel of Light</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>

    <section class="collection bg-light position-relative py-5" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
        <div class="container">
            <div class="row">
                <div class="title-xlarge text-uppercase txt-fx domino">
                    Collection
                </div>
                <div class="collection-item d-flex flex-wrap my-5">
                    <div class="col-md-6 column-container">
                        <div class="image-holder">
                            <img src="../Image/storyHomePage.jpg"
                                 alt="collection"
                                 class="product-image img-fluid" />
                        </div>
                    </div>
                    <div class="col-md-6 column-container bg-white">
                        <div class="collection-content p-5 m-0 m-md-5">
                            <h3 class="element-title text-uppercase">Hồi ức trắng</h3>
                            <p>
                                Năm 2020, chứng kiến người mình yêu rời xa thế gian vì
                                covid-19 khi đám cưới của họ sẽ diễn ra sau 1 tháng. Cô ấy,
                                người đã sống với tình yêu của anh trong suốt 7 năm lẳng lặng
                                nhìn về phía bầu trời. Đến ngày cưới, mặc chiếc váy ấy, cô
                                không đến lễ đường, mà đi bộ ra biển – nơi cô và người yêu
                                từng hứa hẹn sẽ du lịch sau ngày cưới. Trên nền cát trắng,
                                chiếc váy tung bay trong gió, nhẹ nhàng như lời chào từ biệt.
                                Bức ảnh cô ấy mặc chiếc váy ấy được treo tại góc tiệm studio,
                                với dòng chữ nhỏ: "Không phải lễ cưới nào cũng cần một chú rể,
                                nhưng tình yêu thì luôn cần một trái tim trọn vẹn và " Váy
                                cưới " không chỉ đẹp trên lễ đường mà đẹp mãi trên con đường
                                tình yêu".
                            </p>
                            <a href="#" class="btn btn-dark text-uppercase mt-3">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="best-sellers"
             class="best-sellers product-carousel py-5 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Sản phẩm bán chạy</h4>
                <a href="/ListDress" class="btn-link">Xem thêm</a>
            </div>
            <div class="swiper product-swiper open-up" data-aos="zoom-out">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/banchay1.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Eternal Rose</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/banchay2.jpg"
                                         alt="product"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Radiant Blossom</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/banchay3.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Ivory Moon</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/banchay4.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">White Love Song</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/banchay5.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Eternal Rose</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/banchay6.jpg"
                                         alt="categories"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Ivory Moon</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>

    <!-- <section class="video py-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="video-content open-up" data-aos="zoom-out">
            <div class="video-bg">
              <img
                src="../images/video-image.jpg"
                alt="video"
                class="video-image img-fluid"
              />
            </div>
            <div class="video-player">
              <a class="youtube" href="../Image/6617555625047.mp4">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#play"></use>
                </svg>
                <img
                  src="../images/text-pattern.png"
                  alt="pattern"
                  class="text-rotate"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section class="testimonials py-5 bg-light" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
        <div class="section-header text-center mt-5">
            <h3 class="section-title" style="font-family: 'Marcellus', Roboto, sans-serif;font-size: 18px;">LỜI KHUYÊN CỦA CHÚNG TÔI</h3>
        </div>
        <div class="swiper testimonial-swiper overflow-hidden my-5">
            <div class="swiper-wrapper d-flex">
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p style="color: #8f8f8f;font-family: 'Jost', Roboto, sans-serif;">
                                “Chọn váy cưới tôn dáng: đồng hồ cát hợp váy ôm, quả lê chọn
                                váy chữ A, mảnh khảnh ưu tiên váy bèo nhún.”
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p style="color: #8f8f8f;font-family: 'Jost', Roboto, sans-serif;">
                                “Chọn màu váy (trắng, ivory, blush) hợp tông da và chất liệu
                                (ren, lụa, tulle) sang trọng.”
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p style="color: #8f8f8f;font-family: 'Jost', Roboto, sans-serif;">
                                “Đảm bảo váy cưới thoải mái, vừa vặn, điều chỉnh kỹ ngực, eo,
                                vai.”
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p style="color: #8f8f8f;font-family: 'Jost', Roboto, sans-serif;">
                                “Váy cưới nên hài hòa với phong cách tiệc (cổ điển, boho, hiện
                                đại) và địa điểm.”
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
    </section>

    <section id="related-products"
             class="related-products product-carousel py-5 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Có thể bạn sẽ thích</h4>
                <a href="/ListDress" class="btn-link">Xem thêm</a>
            </div>
            <div class="swiper product-swiper open-up" data-aos="zoom-out">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/cothesethich1.jpg"
                                         alt="product"
                                         class="product-image img-fluid" />
                                </a>
                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Rapunzel lace dress</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/cothesethich2.jpg"
                                         alt="product"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Cinderella gown</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/cothesethich3.jpg"
                                         alt="product"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Aurora dress</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/cothesethich4.jpg"
                                         alt="product"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Fairy Tale Gown</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="/DressDetail">
                                    <img src="../Image/cothesethich5.jpg"
                                         alt="product"
                                         class="product-image img-fluid" />
                                </a>

                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="/DressDetail">Moonlight Dream Dress</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-between py-5">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-001">
                        <div class="footer-intro mb-4">
                            <a href="/Homepage">
                                <img src="../images/main-logo.png" alt="logo" />
                            </a>
                        </div>
                        <p>
                            Website váy cưới trưng bày các mẫu váy tinh tế, sang trọng. Cung
                            cấp dịch vụ tư vấn, thử váy chuyên nghiệp.
                        </p>
                        <div class="social-links">
                            <ul class="list-unstyled d-flex flex-wrap gap-3">
                                <li>
                                    <a href="https://m.facebook.com/profile.php?id=61576029346458"
                                       class="text-secondary">
                                        <img src="../Image/iconFB.png" alt="logo" />
                                    </a>
                                </li>

                                <li>
                                    <a href="https://m.facebook.com/profile.php?id=61576029346458"
                                       class="text-secondary">
                                        <img src="../Image/iconIns.png" alt="logo" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://m.facebook.com/profile.php?id=61576029346458"
                                       class="text-secondary">
                                        <img src="../Image/iconTikTok.png" alt="logo" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-002">
                        <h5 class="widget-title text-uppercase mb-4">Liên kết nhanh</h5>
                        <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                            <li class="menu-item">
                                <a href="/ListDress" class="item-anchor">Váy cưới</a>
                            </li>
                            <li class="menu-item">
                                <a href="/ListDress" class="item-anchor">Váy dự tiệc</a>
                            </li>
                            <li class="menu-item">
                                <a href="/ListDress" class="item-anchor">Áo dài</a>
                            </li>
                            <li class="menu-item">
                                <a href="/ListDress" class="item-anchor">Phụ kiện</a>
                            </li>
                            <li class="menu-item">
                                <a href="/AboutUs" class="item-anchor">Liên hệ với chúng tôi</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-004 border-animation-left">
                        <h5 class="widget-title text-uppercase mb-4">
                            Liên hệ với chúng tôi
                        </h5>
                        <p>
                            Bạn có câu hỏi hoặc góp ý gì không?
                            <a href="dreamylovebridal@gmail.com" class="item-anchor">dreamylovebridal@gmail.com</a>
                        </p>
                        <p>
                            Bạn cần hỗ trợ? Hãy gọi cho chúng tôi.
                            <a href="tel:+84 349 021 626" class="item-anchor">
                                +84 349 021 626
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/SmoothScroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/js/script.min.js"></script>
</body>
</html>
